.toggle,
.overlay,
.options {
	position: fixed;
	z-index: 100;
}

.overlay,
.options {
	top: 0;
	height: 100dvh;
}

.overlay {
	width: 100dvw;
	background-color: rgba(#222, 0.5);
	backdrop-filter: blur(5px);
}

.options {
	width: 50dvw;
	background-color: #333;
	padding: 1.5rem;
	border-right: 1px solid #666;

	@media screen and (max-width: 768px) {
		width: 75dvw;
	}

	// &.open {}

	label,
	label > span {
		display: block;
	}

	label {
		+ label {
			margin-top: 2rem;
		}

		> {
			margin-bottom: 1rem;
		}
	}

	select,
	textarea {
		padding: 0.5rem;
		border-radius: 8px;
	}

	textarea {
		width: 100%;
		min-height: 100px;
		max-height: 200px;
		resize: vertical;
	}
}

.toggle {
	top: clamp(1rem, 5%, 50px);
	right: clamp(1rem, 5%, 50px);
	width: 40px;
	height: 40px;
	text-align: center;
	background-color: #fff;

	svg {
		display: block;
		height: 1rem;
		margin: auto;
	}
}
